/* ==========================================================================
   Lexend Font Family
   ========================================================================== */

@font-face {
  font-family: 'Lexend';
  font-weight: 100;
  font-style: normal;
  src:
    local('Lexend Thin'),
    url('@/assets/fonts/Lexend/Lexend-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Lexend';
  font-weight: 200;
  font-style: normal;
  src:
    local('Lexend ExtraLight'),
    url('@/assets/fonts/Lexend/Lexend-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Lexend';
  font-weight: 300;
  font-style: normal;
  src:
    local('Lexend Light'),
    url('@/assets/fonts/Lexend/Lexend-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Lexend';
  font-weight: 400;
  font-style: normal;
  src:
    local('Lexend Regular'),
    url('@/assets/fonts/Lexend/Lexend-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lexend';
  font-weight: 500;
  font-style: normal;
  src:
    local('Lexend Medium'),
    url('@/assets/fonts/Lexend/Lexend-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Lexend';
  font-weight: 600;
  font-style: normal;
  src:
    local('Lexend SemiBold'),
    url('@/assets/fonts/Lexend/Lexend-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Lexend';
  font-weight: 700;
  font-style: normal;
  src:
    local('Lexend Bold'),
    url('@/assets/fonts/Lexend/Lexend-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Lexend';
  font-weight: 800;
  font-style: normal;
  src:
    local('Lexend ExtraBold'),
    url('@/assets/fonts/Lexend/Lexend-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Lexend';
  font-weight: 900;
  font-style: normal;
  src:
    local('Lexend Black'),
    url('@/assets/fonts/Lexend/Lexend-Black.ttf') format('truetype');
}

/* ==========================================================================
   JetBrains Mono Font Family
   ========================================================================== */

@font-face {
  font-family: 'JetBrains Mono';
  font-weight: 100;
  font-style: normal;
  src:
    local('JetBrains Mono Thin'),
    url('@/assets/fonts/JetBrains_Mono/JetBrainsMono-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-weight: 100;
  font-style: italic;
  src:
    local('JetBrains Mono Thin Italic'),
    url('@/assets/fonts/JetBrains_Mono/JetBrainsMono-ThinItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-weight: 200;
  font-style: normal;
  src:
    local('JetBrains Mono ExtraLight'),
    url('@/assets/fonts/JetBrains_Mono/JetBrainsMono-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-weight: 200;
  font-style: italic;
  src:
    local('JetBrains Mono ExtraLight Italic'),
    url('@/assets/fonts/JetBrains_Mono/JetBrainsMono-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-weight: 300;
  font-style: normal;
  src:
    local('JetBrains Mono Light'),
    url('@/assets/fonts/JetBrains_Mono/JetBrainsMono-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-weight: 300;
  font-style: italic;
  src:
    local('JetBrains Mono Light Italic'),
    url('@/assets/fonts/JetBrains_Mono/JetBrainsMono-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-weight: 400;
  font-style: normal;
  src:
    local('JetBrains Mono Regular'),
    url('@/assets/fonts/JetBrains_Mono/JetBrainsMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-weight: 400;
  font-style: italic;
  src:
    local('JetBrains Mono Italic'),
    url('@/assets/fonts/JetBrains_Mono/JetBrainsMono-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-weight: 500;
  font-style: normal;
  src:
    local('JetBrains Mono Medium'),
    url('@/assets/fonts/JetBrains_Mono/JetBrainsMono-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-weight: 500;
  font-style: italic;
  src:
    local('JetBrains Mono Medium Italic'),
    url('@/assets/fonts/JetBrains_Mono/JetBrainsMono-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-weight: 600;
  font-style: normal;
  src:
    local('JetBrains Mono SemiBold'),
    url('@/assets/fonts/JetBrains_Mono/JetBrainsMono-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-weight: 600;
  font-style: italic;
  src:
    local('JetBrains Mono SemiBold Italic'),
    url('@/assets/fonts/JetBrains_Mono/JetBrainsMono-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-weight: 700;
  font-style: normal;
  src:
    local('JetBrains Mono Bold'),
    url('@/assets/fonts/JetBrains_Mono/JetBrainsMono-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-weight: 700;
  font-style: italic;
  src:
    local('JetBrains Mono Bold Italic'),
    url('@/assets/fonts/JetBrains_Mono/JetBrainsMono-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-weight: 800;
  font-style: normal;
  src:
    local('JetBrains Mono ExtraBold'),
    url('@/assets/fonts/JetBrains_Mono/JetBrainsMono-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-weight: 800;
  font-style: italic;
  src:
    local('JetBrains Mono ExtraBold Italic'),
    url('@/assets/fonts/JetBrains_Mono/JetBrainsMono-ExtraBoldItalic.ttf') format('truetype');
}

/* ==========================================================================
   Bitter Font Family
   ========================================================================== */

@font-face {
  font-family: 'Bitter';
  font-weight: 100;
  font-style: normal;
  src:
    local('Bitter Thin'),
    url('@/assets/fonts/Bitter/Bitter-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Bitter';
  font-weight: 100;
  font-style: italic;
  src:
    local('Bitter Thin Italic'),
    url('@/assets/fonts/Bitter/Bitter-ThinItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Bitter';
  font-weight: 200;
  font-style: normal;
  src:
    local('Bitter ExtraLight'),
    url('@/assets/fonts/Bitter/Bitter-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Bitter';
  font-weight: 200;
  font-style: italic;
  src:
    local('Bitter ExtraLight Italic'),
    url('@/assets/fonts/Bitter/Bitter-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Bitter';
  font-weight: 300;
  font-style: normal;
  src:
    local('Bitter Light'),
    url('@/assets/fonts/Bitter/Bitter-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Bitter';
  font-weight: 300;
  font-style: italic;
  src:
    local('Bitter Light Italic'),
    url('@/assets/fonts/Bitter/Bitter-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Bitter';
  font-weight: 400;
  font-style: normal;
  src:
    local('Bitter Regular'),
    url('@/assets/fonts/Bitter/Bitter-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Bitter';
  font-weight: 400;
  font-style: italic;
  src:
    local('Bitter Italic'),
    url('@/assets/fonts/Bitter/Bitter-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Bitter';
  font-weight: 500;
  font-style: normal;
  src:
    local('Bitter Medium'),
    url('@/assets/fonts/Bitter/Bitter-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Bitter';
  font-weight: 500;
  font-style: italic;
  src:
    local('Bitter Medium Italic'),
    url('@/assets/fonts/Bitter/Bitter-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Bitter';
  font-weight: 600;
  font-style: normal;
  src:
    local('Bitter SemiBold'),
    url('@/assets/fonts/Bitter/Bitter-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Bitter';
  font-weight: 600;
  font-style: italic;
  src:
    local('Bitter SemiBold Italic'),
    url('@/assets/fonts/Bitter/Bitter-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Bitter';
  font-weight: 700;
  font-style: normal;
  src:
    local('Bitter Bold'),
    url('@/assets/fonts/Bitter/Bitter-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Bitter';
  font-weight: 700;
  font-style: italic;
  src:
    local('Bitter Bold Italic'),
    url('@/assets/fonts/Bitter/Bitter-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Bitter';
  font-weight: 800;
  font-style: normal;
  src:
    local('Bitter ExtraBold'),
    url('@/assets/fonts/Bitter/Bitter-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Bitter';
  font-weight: 800;
  font-style: italic;
  src:
    local('Bitter ExtraBold Italic'),
    url('@/assets/fonts/Bitter/Bitter-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Bitter';
  font-weight: 900;
  font-style: normal;
  src:
    local('Bitter Black'),
    url('@/assets/fonts/Bitter/Bitter-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Bitter';
  font-weight: 900;
  font-style: italic;
  src:
    local('Bitter Black Italic'),
    url('@/assets/fonts/Bitter/Bitter-BlackItalic.ttf') format('truetype');
}
