/* @font-face {
  font-family: 'MindEase';
  font-weight: 300;
  src:
    local('MindEase'),
    url('../../assets/fonts/MindEase-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'MindEase';
  font-weight: 400;
  src:
    local('MindEase'),
    url('../../assets/fonts/MindEase-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'MindEase';
  font-weight: 600;
  src:
    local('MindEase'),
    url('../../assets/fonts/MindEase-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'MindEase';
  font-weight: 800;
  src:
    local('MindEase'),
    url('../../assets/fonts/MindEase-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'MindEase';
  font-weight: 900;
  src:
    local('MindEase'),
    url('../../assets/fonts/MindEase-Black.ttf') format('truetype');
} */
