/* @font-face {
  font-family: 'AcerFoco';
  font-weight: 300;
  src:
    local('AcerFoco'),
    url('../../assets/fonts/AcerFoco-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'AcerFoco';
  font-weight: 400;
  src:
    local('AcerFoco'),
    url('../../assets/fonts/AcerFoco-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'AcerFoco';
  font-weight: 600;
  src:
    local('AcerFoco'),
    url('../../assets/fonts/AcerFoco-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'AcerFoco';
  font-weight: 800;
  src:
    local('AcerFoco'),
    url('../../assets/fonts/AcerFoco-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'AcerFoco';
  font-weight: 900;
  src:
    local('AcerFoco'),
    url('../../assets/fonts/AcerFoco-Black.ttf') format('truetype');
} */
